// $main: #9FB200;
// $second: #394A59;

// $main: #FA726C;
// $second: #3BA686;

// $main: #77C299;
// $second: #FECE6C;

 // $main: #3C8F8B;
 // $second: #546A8F;

 // $second: #32807E;


 $main: #F2FFF1;
 $second: #77C299;

body{

font-family: 'Open Sans', sans-serif;

}

.border{

	border-top: solid 1px darken($second, 10%);
}