
.intro{

	background-repeat: no-repeat;
	background-position: 5% 50%;

}



.intro div div{

	margin-top: 2.5em;
	margin-bottom: 5.5em;
}


.homeMain, .testimonies, .containBusiness {background-color: rgba($second, 0.1);}

.homePromo{

	min-height: 320px;
	background-color: white;
	text-align: center;

}

.testimonies .homePromo{

height: 700px;

}


#short .testimonies .homePromo{

	height: 400px;
}

.topPro{ background-color: $second; height: 100px;
	border-top: solid 10px $second;
}

.testimonies .topPro{ height: 70px;
background-color: $main;
border-top: solid 10px $main;}

.proPic{ 

	background-color: lighten($second, 20%);
	border: solid 5px darken($second, 10%);
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin: 0 auto;
	margin-top: -30px;
	background-repeat: no-repeat;
	background-size: cover;
	

}

.proPic i{

-webkit-filter: drop-shadow(8px 8px 10px $second);
  filter: drop-shadow(8px 8px 10px $second);

  font-size: 8em;
	padding-top: 0.45em;
	color: $main;  
}

.testimonies .proPic{

	width: 120px;
	height: 120px;
	margin-top: -25px;
	background-color: lighten($main, 20%);
	border: solid 5px darken($main, 10%);

}

.quotation{background-image:url('../images/quote.png');
background-size: 60%;
background-position: 50% 50%;}
	

.homeMain .row{

padding-top: 2em;
padding-bottom: 2em;

}

/*! home page content articles*/


.aboutImg{
	margin: 6.75em 0 2em 0;
}


article .row{

margin-top: 1em;

}

article{
padding-bottom: 2em;
}











