
h1.logo{

	display: inline-block;
	color: transparent !important;
	/*background-image:url('../images/avatar.svg');*/
	background-repeat: no-repeat;
	background-size: contain;
	width: 270px;
	height: 200px;
	// margin-top: 60px;
}

.slides h2{

	// color: lighten($main, 10%);
	color: $second;
	font-weight: 800;
	font-style: italic;
	}

	.homePromo h1 a{
	font-size: 0.5em;
	padding-top: 1em;
}

section h2, article h1{

	font-weight: 800;
	font-style: italic;
}

article h1{

	font-size: 1.75em;
	// color: darken($main, 10%);
	color: $second;
	padding-top: 1em;
	padding-bottom: 1em;
}

.testimonies .text{

	padding: 1em;
	color: $second;
}

.testimonies h3{

	font-size: 1em;
	// background-color: lighten($main, 20%);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: $second;
	font-weight: 600;
	font-style: italic;

	}


	.sub-nav dd a{

		color: $second;
		font-size: 16px !important;
	}

		.sub-nav dd.active a{
background-color: $second !important;
		}