<header>

    <nav>

    <div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;" style="">
      <div class="magNav row">
      <dl class="sub-nav">

        <dd data-magellan-arrival="JeCharlottee" class="JeCharlottee"><a href="#JeCharlottee">JeCharlottee</a></dd>
        <div class="right">
        <dd data-magellan-arrival="resume" class="resume"><a href="#resume">Resume</a></dd>
        <dd data-magellan-arrival="thoughts" class="thoughts"><a href="#thoughts">Resources</a></dd>
        <dd class="blog"><a href="blog.html" target="_blank">Blog</a></dd>
        <dd data-magellan-arrival="contact" class="contact"><a href="#contact">Contact</a></dd>
        </div>


      </dl>
    </div>
    </div>
  </nav>

</header>